<%= form_for(@pessoa_pagar) do |f| %>
  <% if @pessoa_pagar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa_pagar.errors.count, "error") %> prohibited this pessoa_pagar from being saved:</h2>

      <ul>
      <% @pessoa_pagar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :tel %>
    <%= f.text_field :tel %>
  </div>

  <button class="btn" type="submit">
    Salvar
  </button>
  
<% end %>
