<h1>Listing pessoa_pagars</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pessoa_pagars.each do |pessoa_pagar| %>
  <tr>
    <td><%= pessoa_pagar.nome %></td>
    <td><%= link_to 'Show', pessoa_pagar %></td>
    <td><%= link_to 'Edit', edit_pessoa_pagar_path(pessoa_pagar) %></td>
    <td><%= link_to 'Destroy', pessoa_pagar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pessoa pagar', new_pessoa_pagar_path %>
