<div class="hero-unit">
  <h1>Lista de Pessoas à pagar!</h1>

  <table>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @pessoa_pagars.each do |pessoa_pagar| %>
    <tr>
      <td><%= pessoa_pagar.nome %></td>
      <td><%= link_to 'Mostrar', pessoa_pagar, :class => "btn" %></td>
      <td><%= link_to 'Editar', edit_pessoa_pagar_path(pessoa_pagar), :class => "btn" %></td>
      <td><%= link_to 'Deletar', pessoa_pagar, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Cadastrar Nova Pessoa', new_pessoa_pagar_path, :class => "btn" %>
</div>