<div class="hero-unit">
    <h1>Listar Contas a Pagar</h1>

    <table>
      <tr>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Data vencimento</th>
        <th>Pessoa pagar</th>
        <th>Valor</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @conta_pagars.each do |conta_pagar| %>
      <tr>
        <td><%= conta_pagar.nome %></td>
        <td><%= conta_pagar.descricao[0..20]+"..." %></td>
        <td><%= conta_pagar.data_vencimento.strftime("%d/%m/%Y") %></td>
        <td><%= conta_pagar.pessoa_pagar.nome %></td>
        <td><%= conta_pagar.valor %></td>
        <td><%= link_to 'Mostrar', conta_pagar, :class => "btn" %></td>
        <td><%= link_to 'Editar', edit_conta_pagar_path(conta_pagar), :class => "btn" %></td>
        <td><%= link_to 'Deletar', conta_pagar, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'Nova Conta pagar', new_conta_pagar_path, :class => "btn" %>
</div>